/* CustomSliderTab.css */

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.tab-content {
  animation: slideIn 0.5s ease-in-out;
}

.tab-content.hidden {
  animation: slideOut 0.5s ease-in-out;
}

.tabs-content-container {
  overflow: hidden;
}
